.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  width: 100%;
  background-color: #f3f3f3;
  padding: 10px;
  overflow: hidden;
}

.card {
  flex: 1 1 calc(33.33% - 20px);
  min-width: 250px;
  margin: 10px;
  border: 1px solid #daa520;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.col3 {
  flex-basis: calc(33.33% - 20px); /* Calcula a largura de cada card na primeira linha */
}

.col2 {
  flex-basis: calc(50% - 20px); /* Calcula a largura de cada card na segunda linha */
}

.col2:nth-child(4) {
  order: 1;
}

.col2:nth-child(5) {
  order: 2;
}

.fullWidth {
  flex-basis: 100%; /* Ocupa 100% da largura */
}

.texto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  min-height: 150px; /* Altura fixa do container do texto */
  overflow: hidden; /* Esconde o texto excedente */
  /* text-overflow: ellipsis; */
  object-fit: cover;
  padding: 10px;
}

.texto div:first-child {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: pre-wrap; 
}

.texto small {
  color: #daa520;
}

.texto div:first-child {
  margin-bottom: 20px;
}

.preco {
  align-self: flex-end;
  position: absolute;
  bottom: 0px;
  right: 10px;
  padding: 10px;
}

.preco span {
  display: inline-block;
  color: #000000;
  font-weight: bold;
}

.figure {
  width: 100%;
  height: 250px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* A imagem ocupará todo o espaço do contêiner sem ultrapassar */
  border-radius: inherit;
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 20px); /* Ajusta a largura dos cards para telas menores */
  }

  .texto {
    padding: 15px;
  }

  .preco {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .card {
    flex: 1 1 calc(100% - 20px); /* Ajusta a largura dos cards para telas ainda menores */
  }

  .texto {
    padding: 10px;
  }

  .preco {
    font-size: 16px;
  }
}
